root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
end_of_line = lf

[*.py]
max_line_length = 88

[*.{sh,yml,yaml,json}]
indent_size = 2