.idea
.vscode
.pytest_cache
.ruff_cache
.mypy_cache
.jupyter
*.ipynb
*.ipynb_checkpoints
*.tmp
__pycache__
.kiauh-env
.venv
*.code-workspace
*.iml
*.egg-info
.coverage
kiauh.cfg
klipper_repos.txt
*~
kiauh/components/webui_client/client_config/
kiauh/locale/en/
