[kiauh]
backup_before_update: False

[klipper]
repository_url: https://github.com/Klipper3d/klipper
branch: master
method: https

[moonraker]
repository_url: https://github.com/Arksine/moonraker
branch: master
method: https

[mainsail]
default_port: 80
unstable_releases: False
