#Systemd Moonraker Service

[Unit]
Description=Systemd Moonraker Service for instance moonraker-%INST%
Documentation=https://moonraker.readthedocs.io/
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Environment=MOONRAKER_CONF=%CFG%
Environment=MOONRAKER_LOG=%LOG%
Type=simple
SupplementaryGroups=moonraker-admin
User=%USER%
RemainAfterExit=yes
ExecStart=%ENV%/bin/python %DIR%/moonraker/moonraker.py -c ${MOONRAKER_CONF} -l ${MOONRAKER_LOG}
Restart=always
RestartSec=10