[Unit]
Description=Starts mjpg-streamer on startup
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
User=%USER%
WorkingDirectory=/usr/local/bin
StandardOutput=append:/var/log/webcamd.log
StandardError=append:/var/log/webcamd.log
ExecStart=/usr/local/bin/webcamd
Restart=always